
            .red{
                font-size: 20px;
                color: red;
            }
            .green{
                font-size: 26px;
                color:green;
            }
            #div1{
                text-decoration-line:red;
                color: gray;
            }
            h2,ul{
                color: red;

            }
            ul>li{
                font-weight: bold;
                color: green;
            }
            @font-face{
                font-family:KaushanScript-Regular ;
                src:url(../font/KaushanScript-Regular.ttf)
            }